#UI {
    height: 10vh;
    width: 70vw;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: bisque;
    margin-top: 10vh;
}

#gameScreen {
    height: 60vh;
    width: 70vw;
    display: flex;
    background-image: url("./IA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
}

#question {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

#answerButtons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 60px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#lifePoint {
    padding-left: 20px;
}

#questionNb {
    padding-right: 20px;
}



button {
    border-radius: 8px;
    padding: 20px 10px;
    background-color: cadetblue;
    border-color: azure;
}