

#gameScreen {
    height: 78vh;
    width: 70vw;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    display: flex;
    background-image: url("Ressources/Images/Twitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10vh;
}
body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#UI {
    height: 10vh;
    width: 70vw;
    display: flex;
    margin: 0;
    padding: 0;
    color:rgb(0, 0, 0);
    font-family: sans-serif;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-image: url("Ressources/Images/Barre2020.png");
    background-repeat: repeat;
    background-size: cover;
    gap: 9vw;
    
}

#question {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin: 0vh 10vw;
    padding:25px 0px;
    font-size: 24px;
    background-image: url("Ressources/Images/Bouton\ Question.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vh -6vw;
    color: #ffffe0;
    
}

#answerButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#lifePoint {
    padding-left: 12vw;

}

#questionNb {
    padding-right: 20px;
}



button {
    width: 270px;
    height: 120px;
    color: white;
    font-family: sans-serif;
    background-image: url("Ressources/Images/Bouton 2020.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 10px;
    /*background-color: cadetblue;
    border-color: azure;*/
    margin: 40px;
    font-size: 18px;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    
    
}

#fireworks {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
    background-image: url("./Ressources/Images/popups.webp");
    background-size: cover;
}

#replay {
    position:absolute; top:80%; left:70%;
}